@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
    font-family: 'popins';
    src: url('./assets/Fonts/Poppins-Regular.ttf')format('truetype');
}
@font-face{
    font-family: 'satisfy';
    src: url('./assets/Fonts/Satisfy-Regular.ttf')format('truetype');
}